body {
  width: 100%;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  background-color: lightgray;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

div.header {
  width: 850px;
  height: 250px;
  background-color: #3b5998;
  display: inline-block;
}

div.profilepic {
  width: 150px;
  height: 150px;
  border: black 1px solid;
  background-color: #3b5998;
  position: relative;
  bottom: -40%;
  left: 2%;
}

div.graybar {
  height: 50px;
  width: 850px;
  background-color: rgb(240, 238, 238);
  display: inline-block;
  margin-top: -10px;
}

.name {
  position: relative;
  color: white;
  font-size: larger;
  top: 180px;
  right: 150px;
}

.website {
  position: relative;
  color: white;
  font-size: larger;
  top: 210px;
  right: 280px;
}

.n1,
.n2,
.n3,
.n4,
.n5 {
  color: #3b5998;
  position: relative;
  top: 15px;
  display: inline-block;
  right: 85px;
  padding-left: 10px;
}
.n1:hover {
    font-weight: bold;
    border-bottom: 4px solid #3b5998;
}
.n2:hover {
    font-weight: bold;
    border-bottom: 4px solid #3b5998;
}
.n3:hover {
    font-weight: bold;
    border-bottom: 4px solid #3b5998;
}
.n4:hover {
    font-weight: bold;
    border-bottom: 4px solid #3b5998;
}
.n5:hover {
    font-weight: bold;
    border-bottom: 4px solid #3b5998
}

.like {
  height: 20px;
  width: 50px;
  background-color: lightgray;
  position: relative;
  display: inline-block;
  top: 30px;
  left: 215px;
  text-align: center;

}

.follow {
  height: 20px;
  width: 70px;
  background-color: lightgray;
  position: relative;
  display: inline-block;
  top: 30px;
  left: 260px;
  text-align: center;
}

.message {
    height: 20px;
    width: 70px;
    background-color: lightgray;
    position: relative;
    display: inline-block;
    top: 30px;
    left: 261px;
    text-align: center;
  }

div.col {
    width: 850px;
    height: 1000px;
    background-color: lightgray;
    display: inline-block;
}

.leftcol {
    margin-top: 10px;
    width: 328px;
    height: auto;
    margin-right: 10px;
    float: left;
}

.rightcol {
    margin-top: 10px;
    width: 512px;
    height: auto;
    float: left;
}

.leftbox {
    width: 280px;
    height: 220px;
    background-color: white;
    float: right;
    text-align: left;
    color: #3b5998;
}
.rightbox {
    width: 450px;
    height: 220px;
    background-color: white;
    float: left;
}

.abt {
    border-bottom: lightgray solid 1px;
    color: black;

}

.yourweb {
    position: relative;
    border-top: lightgray solid 1px;
    margin-top: 55px;
}

.profilebox{
    position: relative;
    height: 50px;
    width: 50px;
    background-color: #3b5998;
    margin-top: 10px;
    margin-left: 10px;
}

.rtheading {
    position: relative;
    color: #3b5998;
    margin-top: -65px;
    margin-left: -200px;

}

.rt {
font-weight: bold;
}

.rtdate {
    margin-top: -15px;
    margin-left: 30px;
    color: lightgrey;
}

.rtbt{
    position: relative;
    margin-top: 128px;
    margin-left: ;
    color: #3b5998;
    background-color: rgb(240, 238, 238);
    width: 100%;
    height: 20%;
    text-align: left;
}

.rtbtcontent{
    position: absolute;
    margin-left: 20px;
    margin-top: 10px;
}

.rtlor {
    margin-top: -130px;
}

.lorem  {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: -20px;
}